<header>
    <nav>
        <a href="/"><span>Potluck</span></a>
        <div class="other-nav-links">
            <a href="/chefs">Our Chefs</a>
            <a href="/recipes">Our Recipes</a>
        </div>
    </nav>
</header>