<!DOCTYPE html>
<html>
    <%- include ('./partials/head.ejs') %>
	<body class="home-master-container">
        <div class="overlay"></div>
        <div class="vertical-center">
            <h1 class="home-header">Welcome to <span class="home-logo">Potluck</span></h1>
            <p class="landing-page-description">Explore a wide variety of different recipes from home chefs of all backgrounds around the globe. Whether you learned how to cook from your grandmother or from watching YouTube videos, all are welcome here!</p>
            <div class="home-body">
                <form action="/chefs" method="GET">
                    <input class="home-input shadow" type="submit" value="View Chefs"/>
                </form>
                <form action="/recipes" method="GET">
                    <input class="home-input shadow" type="submit" value="View Recipes"/>
                </form>
            </div>
        </div>
	</body>
</html>