<!DOCTYPE html>
<html>
    <%- include ('./partials/head.ejs') %>
	<body>
		<header>
			<nav>
			</nav>
		</header>
        <main>
            <h1>Welcome to Potluck</h1>
            <ul>
                <li>
                    <a href="/chefs">Our Chefs</a>
                </li>
                <li>
                    <a href="/recipes">Our Recipes</a>
                </li>
            </ul>
        </main>        
	</body>
</html>