/*****************/
/* Standard Tags */
/*****************/

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

main {
    margin-top: 120px;
    margin-bottom: 15px;
    padding: 1em;
}

/******************/
/* Stick Nav Menu */
/******************/

header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 7px 5px rgba(47, 48, 51, 0.2);
}

nav {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

nav > a {
    color: #e85b70;
    text-decoration: none;
    font-size: 3em;
    margin-left: .15em;
}

nav > a:hover {
    color: #5bbf9e;
    text-decoration: none;
}

span {
    font-family: 'Dancing Script', cursive;
}

.other-nav-links > a {
    color: #45aa88;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0 .25em 0 1em;

}

.other-nav-links > a:hover {
    color: #e85b70;
}

/****************/
/* Footer Block */
/****************/

footer {
    padding: 1.5em;
    margin: 2em 0 0 0;
    box-shadow: 0px -4px 5px 1px rgba(47, 48, 51, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    text-align: center;
    font-size: .9em;
    margin: 0;
}

.footer-script {
    color: #e85b70;
    font-size: 1.35em;
}

/****************/
/* Landing Page */
/****************/

.home-master-container {
    background-image: url('../images/polka-dot-background.jpg');
    background-position: center;
    background-size: 38em;
    background-repeat: repeat;
}

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-header-container {
    background-color: #fcede7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: .05em .1em;
    border: .2em solid #f5b0bb;
    border-radius: 2em;
    margin: 4.5em auto 2em auto;
}

.home-header {
    color: #f096a3;
    font-family: 'Dancing Script', cursive;
    font-size: 4.5em;
    margin: .15em .15em .15em .5em;
}

.home-logo {
    color: #EF7C8E;
    font-size: 5em;
    margin-left: .15em;
    margin-right: .5em;
}

.home-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.action-container {
    display: flex;
    flex-direction: column;
    width: 225px;
    margin: 1em;
    text-align: center;
}

.action-title {
    color: #EF7C8E;
    font-family: 'Dancing Script', cursive;
    font-size: 2.75em;
    margin: .15em auto;
}

.action-header {
    background-color: #fcf0e7;
    font-family: 'Dancing Script', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .2em solid #f5b0bb;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
}

.action-body {
    background-color: #fcf0e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25em 3em;
    border: .2em solid #f5b0bb;
    border-top: none;
    border-bottom-left-radius: .75em;
    border-bottom-right-radius: .75em;
}

.action-input {
    background-color: #f096a3;
    color: white;
    font-size: 1.25em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: .2em .5em;
    border-radius: .5em;
    border-style: none;
    cursor: pointer;
}

.action-input:hover {
    color: white;
    background-color: #77b8a2;
}

.action-or {
    font-weight: 300;
    margin: .4em 0;
}

.shadow {
    box-shadow: 0px 0px 20px 20px rgba(47, 48, 51, 0.1);
}

/***************/
/* Index Pages */
/***************/

.index-heading {
    text-align: center;
    font-size: 3.25em;
    margin: .35em 0;
}

.line {
    background-color: black;
    height: 1px;
    width: 100%;
}

.new-input {
    background-color: #f096a3;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: .3em .5em;
    border-radius: .25em;
    border-style: none;
    width: 172px;
    margin: 1em 0;
    cursor: pointer;
}

.new-input:hover {
    color: white;
    background-color: #77b8a2;
}

.script-font {
    font-family: 'Dancing Script', cursive;
}

.inline-form {
    width: 175px;
    margin: 0;
    display: inline-block;
}

.sort-form {
    z-index: -1;
    width: 300px;
    margin: 1.75em 0 1.35em 0;
}

.pink-label {
    background-color: #f096a3;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.flex-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    grid-gap: 30px;
}

.recipe-container {
    background-color: #d6f1e8;
    width: 400px;
    border-radius: 1.5em;
    margin: 0 auto;
    box-shadow: 0px 0px 6px 2px rgba(47, 48, 51, 0.15);
}

.description-container {
    background-color: #d6f1e8;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: 0px 10%;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

.recipe-name {
    color: white;
    background-color: #5bbf9e;
    width: 400px;
    padding: .75em .5em;
    font-size: 1.35em;
    font-weight: 300;
    text-align: center;
}

.recipe-description {
    font-size: .98em;
    padding: .5em 1em;
}

.chef-container {
    background-color: #5bbf9e;
    color: white;
    width: 400px;
    border-radius: 1.5em;
    margin: 0 auto;
    box-shadow: 0px 0px 6px 2px rgba(47, 48, 51, 0.15);
}

.chef-image {
    width: 400px;
    height: 350px;
    object-fit: cover;
    object-position: 0px 0%;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

.chef-name {
    padding: .75em .5em;
    margin: 0;
    font-size: 1.35em;
    font-weight: 300;
    text-align: center;
}

/*******************/
/* Chef Show Pages */
/*******************/

.chef-info-container {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 1em;
    margin: 1em 0;
}

.chef-description-container {
    width: 70%;
    padding: 0 1em 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.show-chef-image {
    width: 325px;
    height: 325px;
    object-fit: cover;
    object-position: 0px 10%;
    border-radius: 200px;
    margin: auto;
}

.modify-buttons-container > * {
    width: 85px;
}

.show-input {
    background-color: #f096a3;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 80px;
    padding: .2em .3em;
    border-radius: .5em;
    border-style: none;
    margin: 0;
    cursor: pointer;
}

.show-input:hover {
    background-color: #5bbf9e;
    text-decoration: none;
}

.chef-recipe-header {
    margin-left: .5em;
    margin-bottom: 1em;
}

.show-chef-recipes-master-container {
    margin: 2em 0 .25em 0;
}

.show-chef-recipes-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    grid-gap: 30px;
}

.show-chef-recipe-container {
    background-color: #d6f1e8;
    width: 300px;
    border-radius: 1.5em;
    margin: 2.85em auto 0 auto;
    box-shadow: 0px 0px 6px 2px rgba(47, 48, 51, 0.15);
}

.show-chef-recipe-description-container {
    background-color: #d6f1e8;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-recipe-name {
    color: white;
    background-color: #5bbf9e;
    width: 300px;
    padding: .75em .5em;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
}

.show-chef-recipe-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: 0px 10%;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

/*********************/
/* Recipe Show Pages */
/*********************/

.recipe-divider {
    margin: 2em 0;
}

.recipe-heading > h1 {
    margin-left: .4em;
}

.recipe-heading > h2 {
    font-size: 1.75em;
    margin-left: .6em;
    margin-bottom: .65em;
}

.recipe-chef-link {
    color: #45aa88;
    font-family: 'Dancing Script', cursive;
    font-size: 1.15em;
    margin-left: .1em;
}

.recipe-chef-link:hover {
    color: #e85b70;
    text-decoration: none;
}

.recipe-heading > div {
    margin-left: 1.25em;
}

.recipe-header {
    margin-top: .7em;
}