/*****************/
/* Standard Tags */
/*****************/

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

main {
    margin-top: 120px;
    padding: 1em;
}

/******************/
/* Stick Nav Menu */
/******************/

header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 7px 5px rgba(47, 48, 51, 0.2);
}

nav {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

nav > a {
    color: #e85b70;
    text-decoration: none;
    font-size: 3em;
    margin-left: .15em;
}

nav > a:hover {
    color: #5bbf9e;
    text-decoration: none;
}

span {
    font-family: 'Dancing Script', cursive;
}

.other-nav-links > a {
    color: #e85b70;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0 .25em 0 .5em;

}

.other-nav-links > a:hover {
    color: #5bbf9e;
}

/****************/
/* Landing Page */
/****************/

.home-master-container {
    background-image: url('../images/polka-dot-background.jpg');
    background-position: center;
    background-size: 38em;
    background-repeat: repeat;
}

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-header-container {
    background-color: #fcede7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: .05em .1em;
    border: .2em solid #f5b0bb;
    border-radius: 2em;
    margin: 4.5em auto 2em auto;
}

.home-header {
    color: #f096a3;
    font-family: 'Dancing Script', cursive;
    font-size: 4.5em;
    margin: .15em .15em .15em .5em;
}

.home-logo {
    color: #EF7C8E;
    font-size: 5em;
    margin-left: .15em;
    margin-right: .5em;
}

.home-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.action-container {
    display: flex;
    flex-direction: column;
    width: 225px;
    margin: 1em;
    text-align: center;
}

.action-title {
    color: #EF7C8E;
    font-family: 'Dancing Script', cursive;
    font-size: 2.75em;
    margin: .15em auto;
}

.action-header {
    background-color: #fcf0e7;
    font-family: 'Dancing Script', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .2em solid #f5b0bb;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
}

.action-body {
    background-color: #fcf0e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25em 3em;
    border: .2em solid #f5b0bb;
    border-top: none;
    border-bottom-left-radius: .75em;
    border-bottom-right-radius: .75em;
}

.action-input {
    background-color: #f096a3;
    color: white;
    font-size: 1.25em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: .2em .5em;
    border-radius: .5em;
    border-style: none;
    cursor: pointer;
}

.action-input:hover {
    color: white;
    background-color: #77b8a2;
}

.action-or {
    font-weight: 300;
    margin: .4em 0;
}

.shadow {
    box-shadow: 0px 0px 20px 20px rgba(47, 48, 51, 0.1);
}

/***************/
/* Index Pages */
/***************/

.index-heading {
    text-align: center;
    font-size: 3em;
    margin: .35em 0;
}

.line {
    background-color: black;
    height: 1px;
    width: 100%;
}

.new-input {
    background-color: #f096a3;
    color: white;
    font-size: 1.07em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: .25em .5em;
    border-radius: .25em;
    border-style: none;
    margin: 1em 0;
    cursor: pointer;
}

.new-input:hover {
    color: white;
    background-color: #77b8a2;
}

.script-font {
    font-family: 'Dancing Script', cursive;
}

.sort-form {
    z-index: -1;
    width: 300px;
    margin-bottom: 3em;
}

.pink-label {
    background-color: #f096a3;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.sort-submit {
    background-color: #f096a3;
    height: 50%;
    padding: 0 .5em;
    border-radius: .25em;
    border-style: none;
    margin-left: .2em;
    cursor: pointer;
}

.flex-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    grid-gap: 20px;
}

.recipe-container {
    width: 400px;
    margin: 0 auto;
}

.recipe-image {
    width: 400px;
}