<!DOCTYPE html>
<html>
    <%- include ('../partials/head.ejs') %>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
                    <li>
                        <a href="/recipes/new">Add New Recipe</a>
                    </li>
				</ul>
			</nav>
		</header>
        <main>
            <h1>Our Recipes</h1>
            <ul>
                <% for(let i = 0; i < recipes.length; i++){ %>
                    <li>
                        <a href="/recipes/<%=recipes[i]._id%>">
                            <%=recipes[i].name%>
                        </a>
                    </li>
                <% } %>
            </ul>
        </main>        
	</body>
</html>