<!DOCTYPE html>
<html>
    <%- include ('../partials/head.ejs') %>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
                    <li>
                        <a href="/recipes/new">Add New Recipe</a>
                    </li>
				</ul>
			</nav>
		</header>
		<main>
            <!-- Script Making Functions for Adding Input Boxes Dynamically -->
            <script>
                // * I used this Stack Overflow article to figure this out: *
                // https://stackoverflow.com/questions/42015443/new-input-on-button-click/42015509

                // Variable Tracking How Many Ingredients Exist
                let ingredientCount = 0;
                let directionsCount = 0;

                // Function Adding Ingredient Input
                const addIngredientInput = () => {
                    ingredientCount++;

                    let newDiv = document.createElement("div");
                    newDiv.setAttribute("id", "new-ingredient-" + ingredientCount + "-div");
                    document.getElementById("new-add-new-ingredients").appendChild(newDiv);

                    let newInput = document.createElement("input");
                    newInput.setAttribute("type", "text");
                    newInput.setAttribute("name", "ingredient" + ingredientCount);
                    newInput.setAttribute("placeholder", "Ingredient");
                    newDiv.appendChild(newInput);
                };

                // Function Adding Directions Input
                const addDirectionInput = () => {
                    directionsCount++;

                    let newDiv = document.createElement("div");
                    newDiv.setAttribute("id", "new-direction-" + directionsCount + "-div");
                    document.getElementById("new-add-new-directions").appendChild(newDiv);

                    let newInput = document.createElement("input");
                    newInput.setAttribute("type", "text");
                    newInput.setAttribute("name", "direction" + directionsCount);
                    newInput.setAttribute("placeholder", "Direction");
                    newDiv.appendChild(newInput);
                };
            </script>
            
            <!-- HTML Elements for Main Portion of Page -->
            <h1>Create New Recipe</h1>
			<form action="/recipes" method="POST">
				<input type="text" name="name" placeholder="Recipe Name" /><br/>
                <input type="text" name="yield" placeholder="Yield (In Servings)" /><br/>
                <input type="number" name="hours" min=0 placeholder="Hours" />
                <input type="number" name="minutes" min=0 placeholder="Minutes" /><br/>
                <input type="text" name="image" placeholder="Recipe Image URL" /><br/>
                <textarea name="description" placeholder="Type Description Here..."></textarea><br/>
                <div id="new-add-new-ingredients"></div>
                <input type="button" value="+ Add Ingredient" onClick="addIngredientInput()"><br/>
                <div id="new-add-new-directions"></div>
                <input type="button" value="+ Add Direction" onClick="addDirectionInput()"><br/>
                <input type="submit" value="Create Recipe"/>
			</form>
		</main>
	</body>
</html>