<!DOCTYPE html>
<html>
    <%- include ('../partials/head.ejs') %>
	<body>
        <%- include ('../partials/nav.ejs') %>
        <main>
            <h1>Our Chefs</h1>
            <a href="/chefs/new">Add New Chef</a>
            <ul>
                <% for(let i = 0; i < chefs.length; i++){ %>
                    <li>
                        <a href="/chefs/<%=chefs[i]._id%>"><%=chefs[i].name%> </a>
                    </li>
                <% } %>
            </ul>
        </main>        
	</body>
</html>