<!DOCTYPE html>
<html>
    <%- include ('../partials/head.ejs') %>
	<body>
		<%- include ('../partials/nav.ejs') %>
		<main>
            <h1>Create New Chef</h1>
			<form action="/chefs" method="POST">
				<input type="text" name="name" placeholder="Name" /><br/>
                <input type="text" name="image" placeholder="Profile Picture URL" /><br/>
                <textarea name="bio" placeholder="Type Bio Here..."></textarea><br/>
                <input type="submit" value="Create Chef"/>
			</form>
		</main>
	</body>
</html>